@import url("reset.css");
$backgroundcolour: #111;
$textcolour: #fff;
$altcolour: #228833;

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: $backgroundcolour;
    color: $textcolour;
    text-align: center;
    font-size: 18pt;
}

h1 {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

nav {
    background-color: $altcolour;
}

nav {
    text-align: center;
    margin: 20px 0 0 0;    
}

nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 10px 5px;
    list-style: none;
}

nav a {
    font-weight: normal;
    padding: 20px 5px;
    font-size: .80em;
}

nav a:link, a:visited {
    text-decoration: none;
    color: $textcolour;
}

nav a:hover, a:active {    
    background-color: $backgroundcolour;
    color: $altcolour;
}
header h1 {
    font-size: 28pt;
    padding: 25px 10px 10px 10px;
}

section h1 {
    font-size: 24pt;
}
section {
    padding: 60px 0;
}

#teammembers{
    text-align: center;
}

#teammemberssub {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-between
}

#teammemberssub a {
    color: $altcolour;
}

#teammemberssub a:link, a:visited {
    text-decoration: none;
}

#teammemberssub a:hover, a:active {
    text-decoration: underline;
}

#teammemberssub div {
    font-size: 18pt;
    background-color: $textcolour;
    color: $backgroundcolour;
    width: 20%;
    margin: 15px;
    padding: 5px;
    box-shadow: -1px 1px $altcolour;
    text-align: left;
}

#sitemap {
    background-color: $textcolour;
    color: $backgroundcolour;
    padding: 20px 100px;
}

#sitemapwrapper {
    text-align: left;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#sitemapwrapper div {
    padding: 10px;
}

#sitemapwrapper a {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    background-color: $altcolour;
    color: $textcolour;
    align-content: space-between;
}

#sitemapwrapper a:hover, a:active {
    box-shadow: -2px 2px $backgroundcolour;
}

#rationale {
    background-color: $backgroundcolour;
}

#rationalewrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    padding: 25px 0;
}

#rationalewrapper div {
    width: 25%;
    border: 1px solid #aaa;
    margin: 3px 2px;
    padding-bottom: 5px;
    background-color: $textcolour;
    color: $backgroundcolour;
    text-align: left;
}

#rationalewrapper div h2 {
    text-transform: uppercase;
    padding: 10px 5px 0 5px;
}

#rationalewrapper div p {
    padding: 2px 5px 0 5px;
    font-size: 0.8em;
}

footer {
    padding: 0 0 5px 0;
}

footer a:link, a:visited {
    text-decoration: none;
    color: $textcolour;
}

footer a:hover, a:active {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {  

    header h1{
        font-size: 0.8em;        
    }

    nav, section, footer {
        font-size: 0.8em;
    }

    nav {
        background-color: $backgroundcolour;
    }

    nav li {
        padding: 0;
    }

    nav ul li {
        display: block;        
        width: 100%;
        margin: 0;  
    }

    nav ul li a {
        display: inline-block;
        width: 100%;
        padding: 5px 0; 
        background-color: $altcolour;       
    }

    #teammemberssub div {
        width: 50%;
        font-size: 0.9em;
    }

    #teammemberssub, #rationalewrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #rationalewrapper div {
        width: 60%;        
    }
}

@media print {
    header h1{
        font-size: 0.8em;  
        color: $backgroundcolour;      
    }

    nav, section, footer {
        font-size: 0.8em;
        color: $backgroundcolour;
    }

    nav, footer {
        display: none;
    }

    #teammemberssub a, #sitemap a {
        text-decoration: underline;
        color: $backgroundcolour;        
    }

    #teammemberssub, #rationalewrapper {
        display: flex;
        flex-direction: row;
        color: $backgroundcolour;
    }

    #rationale {
        page-break-before: always;
    }

    #teammemberssub div {
        font-size: 0.8em;
        width: 40%;
        background-color: $textcolour;
        color: $backgroundcolour;
        box-shadow: none;
        text-align: left;
    }
}