@import url("reset.css");
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #111;
  color: #fff;
  text-align: center;
  font-size: 18pt;
}

h1 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

nav {
  background-color: #228833;
}

nav {
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
}

nav li {
  display: inline;
  list-style: none;
}

nav a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

nav a:hover, a:active {
  text-decoration: underline;
  background-color: #111;
  color: #228833;
}

header h1 {
  font-size: 28pt;
  padding: 25px 10px 10px 10px;
}

section h1 {
  font-size: 24pt;
}

section {
  padding: 60px 0;
}

#teammembers {
  text-align: center;
}

#teammemberssub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: space-between;
}

#teammemberssub a {
  color: #228833;
}

#teammemberssub a:link, a:visited {
  text-decoration: none;
}

#teammemberssub a:hover, a:active {
  text-decoration: underline;
}

#teammemberssub div {
  font-size: 18pt;
  background-color: #fff;
  color: #111;
  width: 20%;
  margin: 15px;
  padding: 5px;
  box-shadow: -1px 1px #228833;
  text-align: left;
}

#sitemap {
  background-color: #fff;
  color: #111;
  padding: 20px 100px;
}

#sitemapwrapper {
  text-align: left;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#sitemapwrapper div {
  padding: 10px;
}

#sitemapwrapper a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #228833;
  color: #fff;
  align-content: space-between;
}

#rationale {
  background-color: #111;
}

#rationalewrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  padding: 25px 0;
}

#rationalewrapper div {
  width: 25%;
  border: 1px solid #aaa;
  margin: 3px 2px;
  background-color: #fff;
  color: #111;
  text-align: left;
}

#rationalewrapper div h2 {
  text-transform: uppercase;
  padding: 10px 5px 0 5px;
}

#rationalewrapper div p {
  padding: 2px 5px 0 5px;
  font-size: 0.8em;
}
